Repository apache/apisix, pull requests merged in 2024-12, with the labels that each got.

#11796 docs: fix code blocks in admin-api.md
  docs/en/latest/admin-api.md
  docs/en/latest/terminology/credential.md
  docs/zh/latest/admin-api.md
  docs/zh/latest/terminology/credential.md
Labels: doc, approved, size:M

#11794 fix: use `plugin.get` to fetch plugin configured in multi-auth plugin
  apisix/plugins/multi-auth.lua
Labels: bug, plugin, size:XS

#11778 docs: fix ssl_protocols enum values
  docs/en/latest/admin-api.md
  docs/zh/latest/admin-api.md
Labels: doc, approved, size:XS

#11758 docs: fix hyperlink in secret.md
  docs/zh/latest/terminology/secret.md
Labels: doc, approved, size:XS

#11741 docs: weighted_upstreams of traffic-split support configuring scheme
  docs/en/latest/plugins/traffic-split.md
  docs/zh/latest/plugins/traffic-split.md
Labels: doc, approved, size:XS

#11728 docs: fix openid-connect documentation typos
  docs/en/latest/plugins/openid-connect.md
Labels: doc, approved, size:XS

#11743 docs: add missing route label to prometheus latency metric
  docs/en/latest/plugins/prometheus.md
  docs/zh/latest/plugins/prometheus.md
Labels: doc, size:XS

#11795 docs: update for prometheus metrics expiration
  conf/config.yaml.example
  docs/en/latest/plugins/prometheus.md
  docs/zh/latest/plugins/prometheus.md
Labels: doc, size:M

#11637 fix(ai-proxy): missing parsed_url nil check
  apisix/plugins/ai-proxy/drivers/openai.lua
  t/APISIX.pm
  t/plugin/ai-proxy2.t
Labels: bug, plugin, size:M

#11829 fix(ci): remove lualdap deps
  apisix-master-0.rockspec
  ci/common.sh
  ci/linux-install-openresty.sh
  utils/install-dependencies.sh
Labels: CI, dependencies, size:XS

#11838 fix: each metric should have an expire time
  apisix/plugins/prometheus/exporter.lua
  conf/config.yaml.example
  t/plugin/prometheus-metric-expire.t
  t/plugin/prometheus4.t
Labels: bug, size:L

#11832 refactor: workflow plugin registration
  apisix/plugin.lua
  apisix/plugins/limit-count.lua
  apisix/plugins/workflow.lua
Labels: plugin, tech debt, size:M

#11833 fix: etcd watch restart when receive invalid revision
  apisix/core/config_etcd.lua
Labels: bug, size:XS

#11852 fix(jwt-auth): disallow empty key configuration attributes
  apisix/plugins/jwt-auth.lua
  t/plugin/jwt-auth4.t
Labels: bug, size:M

#11861 fix: deepcopy should copy same table exactly only once
  apisix/core/table.lua
  apisix/init.lua
  apisix/plugin.lua
  apisix/plugins/ai.lua
  t/core/table.t
Labels: bug, size:L

#11844 fix: corrupt data in routes() response due to healthchecker data
  apisix/control/v1.lua
  t/control/control-healthcheck-bug-fix.t
Labels: bug, size:L

#11863 fix(ai-proxy): query params in override.endpoint not being sent to LLMs
  apisix/plugins/ai-proxy/drivers/openai.lua
  t/plugin/ai-proxy2.t
Labels: bug, size:M

#11862 fix: add support for ignoring "load" global variable
  .gitignore
  .licenserc.yaml
  utils/lj-releng
Labels: bug, size:L
