Repository apache/apisix, pull requests merged in 2024-11, with the labels that each got.

#11700 docs: fix the ai-proxy override.endpoint
  docs/en/latest/plugins/ai-proxy.md
Labels: plugin, doc, size:XS

#11707 docs: fix typo of PKCE
  apisix/plugins/openid-connect.lua
  docs/zh/latest/plugins/openid-connect.md
Labels: doc, size:XS

#11769 fix: otel ci test error
  ci/linux_openresty_tongsuo_runner.sh
  ci/pod/otelcol-contrib/config.yaml
Labels: bug, CI, size:XS

#11760 fix: the health checker can't be released due to the health parent being released early
  apisix/core/config_util.lua
  apisix/upstream.lua
Labels: bug, size:S

#11771 fix: use max_req_body_bytes field in custom_format
  apisix/utils/log-util.lua
  t/plugin/kafka-logger-large-body.t
Labels: bug, size:M

#11772 feat(jwt-auth): support configuring `key_claim_name`
  apisix/plugins/jwt-auth.lua
  ci/common.sh
  docs/en/latest/plugins/jwt-auth.md
  t/plugin/jwt-auth4.t
Labels: enhancement, plugin, size:L

#11775 feat: plugins in multi-auth returns error instead of logging it
  apisix/plugins/basic-auth.lua
  apisix/plugins/hmac-auth.lua
  apisix/plugins/jwt-auth.lua
  apisix/plugins/multi-auth.lua
  apisix/utils/auth.lua
  t/plugin/multi-auth2.t
Labels: enhancement, plugin, size:L

#11767 feat(body-transformer): support mulipart content-type
  apisix-master-0.rockspec
  apisix/plugins/body-transformer.lua
  t/plugin/body-transformer-multipart.t
Labels: enhancement, plugin, size:L

#11787 feat: allow workflow config without case
  apisix/plugins/workflow.lua
  docs/en/latest/plugins/workflow.md
  t/plugin/workflow-without-case.t
Labels: enhancement, size:L
