Repository apache/apisix, pull requests merged in 2024-08, with the labels that each got.

#11463 fix: Update lua-resty-kafka to 0.23-0
  apisix-master-0.rockspec
Labels: size:XS

#11504 docs: update docs for the removal of `config-default.yaml` (3.10.0)
  docs/en/latest/FAQ.md
  docs/en/latest/benchmark.md
  docs/en/latest/customize-nginx-configuration.md
  docs/en/latest/install-dependencies.md
  docs/en/latest/installation-guide.md
  docs/en/latest/plugin-develop.md
  docs/en/latest/plugins/aws-lambda.md
  docs/en/latest/plugins/azure-functions.md
  docs/en/latest/plugins/inspect.md
  docs/en/latest/pubsub.md
  docs/en/latest/terminology/plugin.md
  docs/zh/latest/FAQ.md
  docs/zh/latest/benchmark.md
  docs/zh/latest/customize-nginx-configuration.md
  docs/zh/latest/install-dependencies.md
  docs/zh/latest/installation-guide.md
  docs/zh/latest/plugin-develop.md
  docs/zh/latest/terminology/plugin.md
Labels: doc, size:L

#11522 docs: fix word spell error in monitor-api-health-check.md
  docs/en/latest/tutorials/monitor-api-health-check.md
Labels: doc, size:XS

#11505 docs: update for `max_req_body_bytes ` and `max_resp_body_bytes ` attributes in `kafka-logger` plugin
  docs/en/latest/plugins/kafka-logger.md
  docs/zh/latest/plugins/kafka-logger.md
Labels: plugin, doc, size:XS

#11503 docs: update docs for the removal of `config-default.yaml` (master)
  docs/en/latest/FAQ.md
  docs/en/latest/benchmark.md
  docs/en/latest/customize-nginx-configuration.md
  docs/en/latest/install-dependencies.md
  docs/en/latest/installation-guide.md
  docs/en/latest/plugin-develop.md
  docs/en/latest/plugins/aws-lambda.md
  docs/en/latest/plugins/azure-functions.md
  docs/en/latest/plugins/inspect.md
  docs/en/latest/pubsub.md
  docs/en/latest/terminology/plugin.md
  docs/zh/latest/FAQ.md
  docs/zh/latest/benchmark.md
  docs/zh/latest/customize-nginx-configuration.md
  docs/zh/latest/install-dependencies.md
  docs/zh/latest/installation-guide.md
  docs/zh/latest/plugin-develop.md
  docs/zh/latest/terminology/plugin.md
Labels: doc, size:L

#11526 docs: clarify `gzip_buffers` unit size
  docs/en/latest/plugins/gzip.md
  docs/zh/latest/plugins/gzip.md
Labels: doc, size:XS

#11517 feat: ai-prompt-template plugin
  apisix/cli/config.lua
  apisix/plugins/ai-prompt-template.lua
  conf/config.yaml.example
  docs/en/latest/config.json
  docs/en/latest/plugins/ai-prompt-template.md
  t/admin/plugins.t
  t/plugin/ai-prompt-template.t
Labels: enhancement, plugin, doc, size:XL

#11515 feat: ai-prompt-decorator plugin
  apisix/cli/config.lua
  apisix/plugins/ai-prompt-decorator.lua
  apisix/plugins/ai-prompt-template.lua
  conf/config.yaml.example
  docs/en/latest/config.json
  docs/en/latest/plugins/ai-prompt-decorator.md
  t/admin/plugins.t
  t/plugin/ai-prompt-decorator.t
Labels: plugin, doc, size:XL
