Repository apache/apisix, pull requests merged in 2024-10, with the labels that each got.

#11596 refactor(google-cloud-logging): unify google-cloud-oauth.lua file
  Makefile
  apisix/plugins/google-cloud-logging.lua
  apisix/plugins/google-cloud-logging/oauth.lua
  docs/en/latest/plugins/google-cloud-logging.md
  docs/zh/latest/plugins/google-cloud-logging.md
  t/plugin/google-cloud-logging.t
  t/plugin/google-cloud-logging/config-https-domain.json
  t/plugin/google-cloud-logging/config-https-ip.json
  t/plugin/google-cloud-logging/config.json
  t/plugin/google-cloud-logging2.t
Labels: plugin, doc, size:L

#11627 docs: update `hmac-auth` plugin doc per the refactoring
  docs/en/latest/plugins/hmac-auth.md
  docs/zh/latest/plugins/hmac-auth.md
Labels: plugin, doc, size:XXL

#11620 chore: release 3.11.0
  .asf.yaml
  CHANGELOG.md
  Makefile
  apisix/core/version.lua
  docs/en/latest/building-apisix.md
  docs/en/latest/config.json
  docs/zh/latest/building-apisix.md
  docs/zh/latest/config.json
Labels: doc, chore, size:M

#11541 feat: ai-content-moderation plugin
  Makefile
  apisix-master-0.rockspec
  apisix/cli/config.lua
  apisix/plugins/ai-content-moderation.lua
  apisix/plugins/ai/openai.lua
  conf/config.yaml.example
  docs/en/latest/config.json
  docs/en/latest/plugins/ai-content-moderation.md
  t/admin/plugins.t
  t/assets/content-moderation-responses.json
  t/plugin/ai-content-moderation-secrets.t
  t/plugin/ai-content-moderation.t
Labels: plugin, doc, size:XXL

#11649 fix: use right modifiedIndex for consumer when use credential
  apisix/consumer.lua
  t/plugin/consumer-bug-fix.t
Labels: bug, size:L

#11568 feat: ai-rag plugin
  Makefile
  apisix/cli/config.lua
  apisix/plugins/ai-rag.lua
  apisix/plugins/ai-rag/embeddings/azure_openai.lua
  apisix/plugins/ai-rag/vector-search/azure_ai_search.lua
  conf/config.yaml.example
  docs/en/latest/config.json
  docs/en/latest/plugins/ai-rag.md
  t/admin/plugins.t
  t/assets/embeddings.json
  t/plugin/ai-rag.t
Labels: enhancement, plugin, size:XL

#11692 feat: add Total request per second panel in grafana dashboard
  docs/assets/other/json/apisix-grafana-dashboard.json
Labels: enhancement, size:L
