Repository apache/apisix, pull requests merged in 2025-03, with the labels that each got.

#12013 fix(ai-proxy): remove model options' `stream` default value
  apisix/plugins/ai-proxy/schema.lua
  docs/en/latest/plugins/ai-proxy-multi.md
  docs/en/latest/plugins/ai-proxy.md
Labels: bug, plugin, size:XS

#12012 fix(ai-proxy-multi): dead loop when retrying
  apisix/plugins/ai-proxy-multi.lua
  t/plugin/ai-proxy-multi2.t
Labels: bug, size:M

#12014 fix(ai-proxy): remove `passthrough`
  apisix/plugins/ai-proxy/base.lua
  apisix/plugins/ai-proxy/schema.lua
  docs/en/latest/plugins/ai-proxy-multi.md
  docs/en/latest/plugins/ai-proxy.md
  t/plugin/ai-proxy-multi.t
  t/plugin/ai-proxy.openai-compatible.t
  t/plugin/ai-proxy.t
Labels: size:L

#11910 docs: improve `proxy-cache` plugin docs
  docs/en/latest/plugins/proxy-cache.md
  docs/zh/latest/plugins/proxy-cache.md
Labels: doc, size:XL

#11912 docs: improve `proxy-mirror` plugin docs
  docs/en/latest/plugins/proxy-mirror.md
  docs/zh/latest/plugins/proxy-mirror.md
Labels: doc, size:L

#11675 feat(jwt-auth): store JWT in the request context
  apisix/plugins/jwt-auth.lua
  docs/en/latest/plugins/jwt-auth.md
  docs/zh/latest/plugins/jwt-auth.md
  t/plugin/jwt-auth4.t
Labels: enhancement, doc, size:L

#12010 refactor: ai-content-moderation to ai-aws-content-moderation
  Makefile
  apisix/cli/config.lua
  apisix/plugins/ai-aws-content-moderation.lua
  apisix/plugins/ai/openai.lua
  conf/config.yaml.example
  docs/en/latest/config.json
  docs/en/latest/plugins/ai-aws-content-moderation.md
  t/admin/plugins.t
  t/plugin/ai-aws-content-moderation-secrets.t
  t/plugin/ai-aws-content-moderation.t
  t/plugin/ai-aws-content-moderation2.t
Labels: plugin, size:L

#12019 docs: fix typo in ai-proxy-multi doc
  docs/en/latest/plugins/ai-proxy-multi.md
Labels: doc, approved, size:XS

#11987 feat(openid-connect): add jwt audience validator
  apisix/plugins/openid-connect.lua
  ci/init-plugin-test-service.sh
  ci/pod/docker-compose.plugin.yml
  ci/pod/keycloak/kcadm_configure_basic.sh
  docs/en/latest/plugins/openid-connect.md
  docs/zh/latest/plugins/openid-connect.md
  t/plugin/openid-connect7.t
Labels: enhancement, size:XL

#12008 feat: add ai-prompt-guard plugin
  apisix/cli/config.lua
  apisix/plugins/ai-prompt-guard.lua
  conf/config.yaml.example
  docs/en/latest/config.json
  docs/en/latest/plugins/ai-prompt-guard.md
  t/admin/plugins.t
  t/plugin/ai-prompt-guard.t
Labels: plugin, size:XL

#11993 feat: set default value of `ssl_trusted_certificate` to `system`
  apisix/cli/config.lua
  apisix/cli/file.lua
  apisix/cli/ops.lua
  apisix/cli/schema.lua
  apisix/core/config_local.lua
  conf/config.yaml.example
  t/cli/test_stream_config.sh
  t/cli/test_upstream_mtls.sh
  t/core/config_etcd.t
Labels: enhancement, size:L

#12002 feat: add "valid_issuers" field in openidc plugin
  apisix/plugins/openid-connect.lua
  docs/en/latest/plugins/openid-connect.md
  docs/zh/latest/plugins/openid-connect.md
  t/plugin/jwt-auth2.t
  t/plugin/openid-connect.t
  t/plugin/openid-connect8.t
Labels: enhancement, size:XL

#12030 refactor(ai): ai-proxy and ai-proxy-multi
  apisix/cli/config.lua
  apisix/plugins/ai-aws-content-moderation.lua
  apisix/plugins/ai-drivers/openai-base.lua
  apisix/plugins/ai-drivers/schema.lua
  apisix/plugins/ai-proxy-multi.lua
  apisix/plugins/ai-proxy.lua
  apisix/plugins/ai-proxy/base.lua
  apisix/plugins/ai-proxy/schema.lua
  t/admin/plugins.t
  t/plugin/ai-proxy-multi.balancer.t
  t/plugin/ai-proxy-multi.openai-compatible.t
  t/plugin/ai-proxy-multi.t
  t/plugin/ai-proxy-multi2.t
  t/plugin/ai-proxy.openai-compatible.t
  t/plugin/ai-proxy.t
  t/plugin/ai-proxy2.t
Labels: plugin, tech debt, size:XL

#12021 fix: update watch_ctx.revision to avoid multiple resyncs
  apisix/core/config_etcd.lua
Labels: bug, size:XS

#12037 feat: ai-rate-limiting plugin
  apisix/cli/config.lua
  apisix/cli/ngx_tpl.lua
  apisix/plugins/ai-rate-limiting.lua
  apisix/plugins/limit-count/init.lua
  conf/config.yaml.example
  docs/en/latest/config.json
  docs/en/latest/plugins/ai-rate-limiting.md
  t/APISIX.pm
  t/admin/plugins.t
  t/plugin/ai-rate-limiting.t
Labels: enhancement, plugin, size:XL

#12049 docs: fix typo in deployment-modes.md
  docs/en/latest/deployment-modes.md
Labels: doc, approved, size:XS

#12047 feat(ai-proxy-multi): implement rate limiting based fallback strategy
  apisix/plugins/ai-proxy-multi.lua
  apisix/plugins/ai-proxy/schema.lua
  apisix/plugins/ai-rate-limiting.lua
  docs/en/latest/plugins/ai-proxy-multi.md
  docs/en/latest/plugins/ai-proxy.md
  t/plugin/ai-rate-limiting.t
Labels: enhancement, size:L

#12055 chore: rectify business logic/code in ai-proxy
  apisix/init.lua
  apisix/plugins/ai-drivers/openai-base.lua
  apisix/plugins/ai-proxy-multi.lua
  apisix/plugins/ai-proxy.lua
  apisix/plugins/ai-proxy/base.lua
  apisix/plugins/ai-proxy/schema.lua
  t/plugin/ai-proxy-multi.balancer.t
  t/plugin/ai-proxy-multi.openai-compatible.t
  t/plugin/ai-proxy-multi.t
  t/plugin/ai-proxy-multi2.t
  t/plugin/ai-proxy.openai-compatible.t
  t/plugin/ai-proxy.t
  t/plugin/ai-proxy2.t
Labels: chore, size:L

#12062 feat(ai-proxy): support embeddings API
  apisix/plugins/ai-drivers/openai-base.lua
  apisix/plugins/ai-proxy/schema.lua
  docs/en/latest/plugins/ai-proxy-multi.md
  docs/en/latest/plugins/ai-proxy.md
  t/plugin/ai-proxy-multi.t
  t/plugin/ai-proxy.t
Labels: enhancement, plugin, size:L

#12033 chore: remove unnecessary debug log
  apisix/plugins/ai-aws-content-moderation.lua
Labels: chore, size:XS

#12073 chore: hi 2025
  NOTICE
Labels: chore, size:XS

#12070 fix: timeout risk in usages of `lua-resty-aws`
  apisix/plugins/ai-aws-content-moderation.lua
  apisix/secret/aws.lua
  t/plugin/ai-aws-content-moderation-secrets.t
  t/plugin/ai-aws-content-moderation.t
  t/plugin/ai-aws-content-moderation2.t
Labels: bug, size:M

#12071 docs: update powered-by.md
  powered-by.md
Labels: doc, size:XS

#12036 feat: add ai-request-rewrite plugin
  apisix/cli/config.lua
  apisix/plugins/ai-request-rewrite.lua
  docs/en/latest/config.json
  docs/en/latest/plugins/ai-request-rewrite.md
  t/admin/plugins.t
  t/plugin/ai-request-rewrite.t
  t/plugin/ai-request-rewrite2.t
Labels: enhancement, plugin, size:XXL

#12076 feat(ip-restriction): support 404 response code
  apisix/plugins/ip-restriction/init.lua
  docs/en/latest/plugins/ip-restriction.md
  t/plugin/ip-restriction.t
Labels: enhancement, size:L

#11957 docs: improve `workflow` plugin docs
  docs/en/latest/plugins/workflow.md
  docs/zh/latest/plugins/workflow.md
Labels: doc, size:XL

#12081 docs: update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: doc, approved, size:XS

#12029 feat: extend chaitin-waf plugin functionalities #9945
  apisix/plugins/chaitin-waf.lua
  docs/en/latest/plugins/chaitin-waf.md
  t/plugin/chaitin-waf-reject.t
  t/plugin/chaitin-waf.t
Labels: enhancement, plugin, size:XL

#11947 docs: improve `skywalking-logger` plugin docs
  docs/en/latest/plugins/skywalking-logger.md
  docs/zh/latest/plugins/skywalking-logger.md
Labels: doc, size:XL

#11935 docs: improve `traffic-split` plugin docs
  docs/en/latest/plugins/traffic-split.md
  docs/zh/latest/plugins/traffic-split.md
Labels: doc, size:XXL

#12097 docs: fix the incorrect attribute structure in `opentelemetry` plugin metadata example
  docs/en/latest/plugins/opentelemetry.md
  docs/zh/latest/plugins/opentelemetry.md
Labels: doc, approved, size:M

#12094 docs: update `ai-proxy` doc and `ai-proxy-multi` plugin doc
  docs/en/latest/plugins/ai-proxy-multi.md
  docs/en/latest/plugins/ai-proxy.md
Labels: doc, approved, size:XXL

#11849 docs: improve `proxy-rewrite` plugin docs
  docs/en/latest/plugins/proxy-rewrite.md
  docs/zh/latest/plugins/proxy-rewrite.md
Labels: doc, approved, size:XL

#11931 docs: improve `request-id` plugin docs
  docs/en/latest/plugins/request-id.md
  docs/zh/latest/plugins/request-id.md
Labels: doc, size:XL

#11850 docs: improve `response-rewrite` plugin docs
  docs/en/latest/plugins/response-rewrite.md
  docs/zh/latest/plugins/response-rewrite.md
Labels: doc, approved, size:XL

#11946 docs: improve `skywalking` plugin docs
  docs/en/latest/plugins/skywalking.md
  docs/zh/latest/plugins/skywalking.md
Labels: doc, size:L

#11925 docs: improve `ip-restriction` plugin docs
  docs/en/latest/plugins/ip-restriction.md
  docs/zh/latest/plugins/ip-restriction.md
Labels: doc, size:L
