Repository apache/apisix, pull requests merged in 2025-04, with the labels that each got.

#12069 chore: release 3.12
  .asf.yaml
  CHANGELOG.md
  apisix/core/version.lua
  docs/en/latest/building-apisix.md
  docs/en/latest/config.json
  docs/zh/latest/building-apisix.md
  docs/zh/latest/config.json
Labels: chore, size:M

#12113 docs: change the API address in the terminology credential documentation example
  docs/en/latest/terminology/credential.md
  docs/zh/latest/terminology/credential.md
Labels: doc, approved, size:XS

#12048 fix: plugins repeats the rewrite phase when consumer configs with a plugin
  apisix/plugin.lua
  t/node/plugin1.t
Labels: bug, plugin, size:L

#12122 docs: update add-multiple-api-versions.md
  docs/en/latest/tutorials/add-multiple-api-versions.md
Labels: doc, approved, size:S

#12123 fix: allow for large shared_size in kubernetes discovery
  apisix/discovery/kubernetes/schema.lua
  t/kubernetes/discovery/kubernetes.t
Labels: bug, size:M

#12102 docs: move AI plugins into the AI category and correct `ai-rate-limiting` plugin doc display name
  docs/en/latest/config.json
  docs/en/latest/plugins/ai-rate-limiting.md
Labels: doc, approved, size:M

#12108 docs: update stream proxy doc for `proxy_mode` and some formatting
  docs/en/latest/stream-proxy.md
  docs/zh/latest/stream-proxy.md
Labels: doc, approved, size:M

#11921 docs: improve `loki-logger` plugin docs
  docs/en/latest/plugins/loki-logger.md
  docs/zh/latest/plugins/loki-logger.md
Labels: doc, size:XL

#11956 docs: improve `ua-restriction` plugin docs
  docs/en/latest/plugins/ua-restriction.md
  docs/zh/latest/plugins/ua-restriction.md
Labels: doc, size:L

#11922 docs: improve `elasticsearch-logger` plugin docs
  docs/en/latest/plugins/elasticsearch-logger.md
  docs/zh/latest/plugins/elasticsearch-logger.md
Labels: doc, size:XXL

#12125 docs: fix wrong data structure in `file-logger` plugin example
  docs/en/latest/plugins/file-logger.md
  docs/zh/latest/plugins/file-logger.md
Labels: doc, approved, size:S

#12107 docs: update `ai-rate-limiting` and `ai-rag` docs
  docs/en/latest/plugins/ai-rag.md
  docs/en/latest/plugins/ai-rate-limiting.md
Labels: doc, size:XL

#11859 docs: improve `basic-auth` docs and update docs for anonymous consumer
  docs/en/latest/plugins/basic-auth.md
  docs/zh/latest/plugins/basic-auth.md
Labels: doc, approved, size:XL

#11860 docs: improve `key-auth` docs and update docs for anonymous consumer
  docs/en/latest/plugins/key-auth.md
  docs/zh/latest/plugins/key-auth.md
Labels: doc, size:XXL

#11867 docs: improve `hmac-auth` plugin docs and update docs for anonymous consumer
  docs/en/latest/plugins/hmac-auth.md
  docs/zh/latest/plugins/hmac-auth.md
Labels: doc, approved, size:XL

#11865 docs: improve `jwt-auth` plugin docs and update docs for anonymous consumer
  docs/en/latest/plugins/jwt-auth.md
  docs/zh/latest/plugins/jwt-auth.md
Labels: doc, size:XXL

#11853 docs: improve `request-validation` plugin docs
  docs/en/latest/plugins/request-validation.md
  docs/zh/latest/plugins/request-validation.md
Labels: doc, size:XXL

#12126 fix: release healthchecker on 0 nodes
  apisix/upstream.lua
  t/discovery/reset-healthchecker.t
Labels: bug, size:M

#11640 docs: update variable in building apisix from source
  .ignore_words
  docs/en/latest/building-apisix.md
  docs/zh/latest/building-apisix.md
Labels: doc, size:S

#12157 chore: clean centos7 test infrasturcture
  .github/workflows/cli.yml
  ci/centos7-ci.sh
  ci/common.sh
Labels: tech debt, chore, size:L

#12151 feat: add mcp-bridge plugin
  .github/workflows/lint.yml
  Makefile
  apisix/cli/config.lua
  apisix/cli/ngx_tpl.lua
  apisix/plugins/mcp-bridge.lua
  apisix/plugins/mcp/session.lua
  ci/common.sh
  ci/linux_openresty_common_runner.sh
  conf/config.yaml.example
  t/APISIX.pm
  t/admin/plugins.t
  t/plugin/mcp-bridge.t
  t/plugin/mcp/assets/bridge-list-tools.json
  t/plugin/mcp/bridge.spec.ts
  t/plugin/mcp/jest.config.ts
  t/plugin/mcp/package.json
  t/plugin/mcp/pnpm-lock.yaml
  t/plugin/mcp/tsconfig.json
Labels: enhancement, plugin, size:XL

#12164 docs: move AI plugins into the AI category and correct `ai-rate-limiting` plugin doc display name
  docs/en/latest/config.json
  docs/en/latest/plugins/ai-rate-limiting.md
Labels: doc, approved, size:M

#12166 docs: update readme with APISIX AI Gateway product link and MCP feature
  README.md
Labels: size:XS

#12101 refactor(ai-proxy): move read_response into ai_driver.request function
  apisix/plugins/ai-drivers/openai-base.lua
  apisix/plugins/ai-proxy/base.lua
  apisix/plugins/ai-proxy/schema.lua
Labels: size:L
