Repository apache/apisix, pull requests merged in 2025-02, with the labels that each got.

#11572 docs: add Chinese language support to wasm documentation
  docs/zh/latest/config.json
  docs/zh/latest/wasm.md
Labels: doc, stale, size:M

#11886 perf: replace 'string.find' with 'core.string.find'
  apisix/core/config_etcd.lua
Labels: performance, size:XS

#11840 perf: accelerate the creation of the consumer cache
  apisix/consumer.lua
Labels: performance, size:L

#11916 fix: race condition problem while update upstream.nodes
  apisix/upstream.lua
Labels: bug, size:XS

#11936 chore: upgrade openresty version to v1.27.11
  .requirements
  apisix/ssl/router/radixtree_sni.lua
  t/node/grpc-proxy.t
  t/plugin/proxy-mirror3.t
  t/plugin/uri-blocker.t
Labels: chore, size:S

#11783 docs: Correcting grammatical errors in the installation guide document.
  docs/en/latest/installation-guide.md
  docs/zh/latest/installation-guide.md
Labels: doc, size:S

#11963 docs: improve real-ip plugin docs
  docs/en/latest/plugins/real-ip.md
  docs/zh/latest/plugins/real-ip.md
Labels: doc, size:L

#11973 fix: the docs website build failed due to incorrect unclosed tag <br>
  docs/en/latest/plugins/real-ip.md
  docs/zh/latest/plugins/real-ip.md
Labels: doc, size:XS

#11967 chore: upgrade ubuntu to latest version in CI
  .github/workflows/build.yml
  .github/workflows/cli.yml
  .github/workflows/gm-cron.yaml.disabled
  .github/workflows/gm.yml.disabled
  .github/workflows/http3.yml
  .github/workflows/kubernetes-ci.yml
  .github/workflows/redhat-ci.yaml
  .github/workflows/source-install.yml
  .github/workflows/tars-ci.yml
  t/plugin/uri-blocker.t
Labels: CI, github_actions, size:M

#11986 feat(plugin): support `ai-proxy-multi`
  Makefile
  apisix/cli/config.lua
  apisix/plugins/ai-drivers/deepseek.lua
  apisix/plugins/ai-drivers/openai-compatible.lua
  apisix/plugins/ai-drivers/openai.lua
  apisix/plugins/ai-proxy-multi.lua
  apisix/plugins/ai-proxy.lua
  apisix/plugins/ai-proxy/schema.lua
  conf/config.yaml.example
  docs/en/latest/config.json
  docs/en/latest/plugins/ai-proxy-multi.md
  t/admin/plugins.t
  t/plugin/ai-proxy-multi.balancer.t
  t/plugin/ai-proxy-multi.t
  t/plugin/ai-proxy-multi2.t
Labels: enhancement, plugin, size:XXL

#11651 fix(chaitin-waf): fix event_id is nil
  apisix/plugins/chaitin-waf.lua
Labels: bug, plugin, size:XS

#11872 docs: improve `limit-count` plugin docs and update docs for anonymous consumers
  docs/en/latest/plugins/limit-count.md
  docs/zh/latest/plugins/limit-count.md
Labels: doc, size:XXL

#11991 fix(ai-proxy): abstract a base for ai-proxy
  apisix/plugins/ai-proxy-multi.lua
  apisix/plugins/ai-proxy.lua
  apisix/plugins/ai-proxy/base.lua
  t/plugin/ai-proxy-multi2.t
Labels: bug, size:L

#11992 fix(grpc-web): useless code and code format
  apisix/plugins/grpc-web.lua
Labels: size:XS

#11994 fix: error while trying to log table in ai-content-moderation plugin
  apisix/plugins/ai-content-moderation.lua
  t/plugin/ai-content-moderation2.t
Labels: bug, size:M

#11878 docs: improve `limit-conn` plugin docs
  docs/en/latest/plugins/limit-conn.md
  docs/zh/latest/plugins/limit-conn.md
Labels: doc, size:XXL

#11951 docs: improve public-api plugin docs
  docs/en/latest/plugins/public-api.md
  docs/zh/latest/plugins/public-api.md
Labels: doc, size:XL

#12003 docs: add apisix as AI Gateway.
  .asf.yaml
  README.md
Labels: doc, approved, size:S
