Repository apache/apisix, pull requests merged in 2025-01, with the labels that each got.

#11874 docs: improve prometheus plugin docs
  docs/en/latest/plugins/prometheus.md
  docs/zh/latest/plugins/prometheus.md
Labels: doc, size:XXL

#11507 docs: add discovery endpoints to control api doc
  docs/en/latest/control-api.md
Labels: doc, size:M

#11891 docs: improve `zipkin` plugin docs
  docs/en/latest/plugins/prometheus.md
  docs/en/latest/plugins/zipkin.md
  docs/zh/latest/plugins/prometheus.md
  docs/zh/latest/plugins/zipkin.md
Labels: doc, size:XL

#11905 fix: failing CI due to wrong status from upstream in traffic split
  t/plugin/traffic-split.t
Labels: bug, size:XS

#11900 docs: improve `opentelemetry` plugin docs
  docs/en/latest/plugins/opentelemetry.md
  docs/zh/latest/plugins/opentelemetry.md
Labels: doc, size:XL

#11881 revert: adding lj-releng file
  .gitignore
  .licenserc.yaml
  utils/lj-releng
Labels: size:L

#11924 fix: the docs website build failed due to incorrect unclosed tag `<br>`
  docs/en/latest/plugins/opentelemetry.md
Labels: doc, size:XS

#11926 fix: the zh docs website build failed due to incorrect unclosed tag <br>
  docs/zh/latest/plugins/opentelemetry.md
Labels: doc, size:XS

#11932 fix(traffic-split): `upstream_obj.upstream` should not be a string
  apisix/plugins/traffic-split.lua
  t/plugin/traffic-split5.t
Labels: bug, size:L

#11793 feat: support _meta.pre_function to execute custom logic before execution of each phase
  apisix/plugin.lua
  apisix/plugins/example-plugin.lua
  apisix/schema_def.lua
  t/admin/plugins.t
  t/misc/pre-function.t
Labels: enhancement, size:L

#11940 refactor(opentelemetry): replace plugin attribute with plugin metadata
  apisix/plugins/opentelemetry.lua
  docs/en/latest/plugins/opentelemetry.md
  docs/zh/latest/plugins/opentelemetry.md
  t/plugin/opentelemetry.t
  t/plugin/opentelemetry2.t
  t/plugin/opentelemetry3.t
  t/plugin/opentelemetry4-bugfix-pb-state.t
  t/plugin/opentelemetry5.t
  t/plugin/security-warning2.t
Labels: plugin, size:XL
